absl-py==2.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.8
aiosignal==1.3.1
altair==5.5.0
altair_tiles==0.3.0
annotated-types==0.7.0
anyio==4.6.2.post1
anywidget==0.9.13
arch==7.2.0
arro3-core==0.2.1
asgiref==3.8.1
astor==0.8.1
asttokens==2.4.1
attrs==24.2.0
beautifulsoup4==4.12.3
bleach==1.5.0
blinker==1.9.0
bokeh==3.6.2
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
clarabel==0.9.0
click==8.1.7
cmdstanpy==1.2.5
colorama==0.4.6
colorcet==3.1.0
colorlog==6.9.0
colorthief==0.2.1
comm==0.2.2
comtypes==1.4.10
contourpy==1.3.1
cryptography==43.0.3
cvxpy==1.6.0
cycler==0.12.1
dataclasses-json==0.6.7
DateTime==5.5
debugpy==1.8.9
decorator==5.1.1
docopt==0.6.2
docx==0.2.4
duckdb==1.1.3
easyocr==1.7.2
ecos==2.0.14
entrypoints==0.4
et_xmlfile==2.0.0
exceptiongroup==1.2.2
executing==2.1.0
ExifRead==3.0.0
Faker==33.1.0
fastjsonschema==2.21.1
favicon==0.7.0
filelock==3.16.1
finvizfinance==1.1.0
Flask==3.1.0
fonttools==4.55.0
frozendict==2.4.6
frozenlist==1.5.0
fsspec==2024.12.0
gast==0.6.0
gcloud==0.18.3
gitdb==4.0.11
GitPython==3.1.43
googleapis-common-protos==1.66.0
grop==0.0.1
grpcio==1.68.0
gTTS==2.5.4
h11==0.14.0
h5py==3.12.1
holidays==0.61
holoviews==1.20.0
htbuilder==0.7.0
html5lib==1.1
httpcore==1.0.7
httplib2==0.22.0
httpx==0.27.2
httpx-sse==0.4.0
hvplot==0.11.2
idna==3.10
imageio==2.37.0
importlib==1.0.4
importlib_resources==6.5.1
ipykernel==6.29.5
ipython==8.29.0
ipywidgets==8.1.5
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.4
joblib==1.4.2
Js2Py==0.74
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_widgets==3.0.13
jwcrypto==1.5.6
keras==3.6.0
Keras-Preprocessing==1.1.2
keyboard==0.13.5
kiwisolver==1.4.7
langchain==0.3.11
langchain-community==0.3.11
langchain-core==0.3.24
langchain-text-splitters==0.3.2
langsmith==0.1.147
lazy_loader==0.4
linkify-it-py==2.0.3
lxml==5.3.0
Markdown==3.7
markdown-it-py==3.0.0
markdownlit==0.0.7
MarkupSafe==3.0.2
marshmallow==3.23.1
matplotlib==3.9.2
matplotlib-colors==1.0.16
matplotlib-inline==0.1.7
mdit-py-plugins==0.4.2
mdurl==0.1.2
mercantile==1.2.1
ml_dtypes==0.5.0
more-itertools==10.5.0
MouseInfo==0.1.3
mpmath==1.3.0
multidict==6.1.0
multitasking==0.0.11
mypy-extensions==1.0.0
namex==0.0.8
narwhals==1.19.0
nest-asyncio==1.6.0
networkx==3.4.2
ninja==1.11.1.4
numerize==0.12
numpy==2.2.2
oauth2client==4.1.3
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
optree==0.13.1
orjson==3.10.12
osqp==0.6.7.post3
packaging==24.2
pandas==2.2.3
pandas-datareader==0.10.0
pandas_ta==0.3.14b0
panel==1.5.5
param==2.2.0
parso==0.8.4
patsy==1.0.1
pdfminer.six==20231228
pdfplumber==0.11.4
peewee==3.17.8
pillow==11.0.0
pipwin==0.5.2
platformdirs==4.3.6
plotly==5.24.1
plotly-express==0.4.1
prometheus_client==0.21.1
prompt_toolkit==3.0.48
propcache==0.2.0
prophet==1.1.6
protobuf==5.29.2
psutil==6.1.0
psygnal==0.11.1
pure_eval==0.2.3
pyarrow==18.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAudio==0.2.14
PyAutoGUI==0.9.54
pyclipper==1.3.0.post6
pycparser==2.22
pycryptodome==3.21.0
pydantic==2.9.2
pydantic-settings==2.6.1
pydantic_core==2.23.4
pydeck==0.9.1
pyfin==1.0.0a1
PyGetWindow==0.0.9
Pygments==2.18.0
pyjsparser==2.7.1
pymdown-extensions==10.12
PyMsgBox==1.0.9
pyparsing==3.2.0
pypdfium2==4.30.0
pyperclip==1.9.0
pypiwin32==223
pyportfolioopt==1.5.6
PyPrind==2.11.3
Pyrebase4==4.8.0
PyRect==0.2.0
PyScreeze==1.0.1
pySmartDL==1.3.4
python-bidi==0.6.6
python-dateutil==2.9.0.post0
python-decouple==3.8
python-docx==1.1.2
python-dotenv==1.0.1
python-jwt==4.1.0
pyttsx3==2.98
pytweening==1.2.0
pytx==0.5.10
pytz==2024.2
pyviz_comms==3.0.3
PyYAML==6.0.2
pyzmq==26.2.0
qdldl==0.1.7.post5
reactpy==1.1.0
referencing==0.35.1
replicate==1.0.3
requests==2.32.3
requests-toolbelt==0.10.1
rich==13.9.4
rpds-py==0.21.0
rsa==4.9
scikit-image==0.25.2
scikit-learn==1.5.2
scipy==1.14.1
scs==3.2.7.post2
seaborn==0.13.2
setuptools==75.8.0
shapely==2.1.0
six==1.17.0
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.6
SpeechRecognition==3.14.1
SQLAlchemy==2.0.36
st-annotated-text==4.0.1
st-theme==1.2.3
stack-data==0.6.3
standard-aifc==3.13.0
standard-chunk==3.13.0
stanio==0.5.1
statsmodels==0.14.4
streamlit==1.43.2
streamlit-aggrid==1.1.1
streamlit-audiorec==0.1.3
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-code-editor==0.1.22
streamlit-cookies-controller==0.0.4
streamlit-cookies-manager==0.2.0
streamlit-drawable-canvas==0.9.3
streamlit-embedcode==0.1.2
streamlit-extras==0.5.0
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.9
streamlit-keyup==0.2.4
streamlit-lottie==0.0.5
streamlit-option-menu==0.4.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
streamlit_mic_recorder==0.0.8
streamlit_multi_menu==0.1.0
style==1.1.0
sympy==1.13.1
ta==0.11.0
tabulate==0.9.0
tenacity==9.0.0
tensorboard==1.8.0
termcolor==2.5.0
threadpoolctl==3.5.0
tifffile==2025.3.30
toml==0.10.2
torch==2.6.0.dev20250101+cpu
torchaudio==2.6.0.dev20250101+cpu
torchvision==0.22.0.dev20250101+cpu
tornado==6.4.1
tqdm==4.67.1
traitlets==5.14.3
typing==3.7.4.3
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.3.1
uc-micro-py==1.0.3
update==0.0.1
urllib3==1.26.20
v==1
validators==0.34.0
vega-datasets==0.9.0
vegafusion==2.0.1
vl-convert-python==1.7.0
watchdog==6.0.0
watchfiles==1.0.3
wcwidth==0.2.13
webencodings==0.5.1
Werkzeug==3.1.3
wheel==0.45.1
widgetsnbextension==4.0.13
xlrd==2.0.1
XlsxWriter==3.2.0
xyzservices==2024.9.0
yarl==1.18.0
yfinance==0.2.54
zope.interface==7.1.1
